@import '../styles/custom-media.css';
@import '../styles/custom-properties.css';

.root {
    position: relative;
    z-index: 100;
    background: var(--color-white);
    text-align: center;
    color: #000;
  }